<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxx.senior.thoroughspring.transactional.dao.TransactionalOneMapper">
    <insert id="transactionalOne" parameterType="com.zxx.senior.thoroughspring.transactional.pojo.TransactionalOne">
        INSERT INTO transactional_one (`name`) VALUE (#{trans.name});
    </insert>

    <insert id="transactionalTwo" parameterType="com.zxx.senior.thoroughspring.transactional.pojo.TransactionalOne">
        INSERT INTO transactional_one (`name`) VALUE (#{trans.name});
    </insert>

    <insert id="transactionalThree" parameterType="com.zxx.senior.thoroughspring.transactional.pojo.TransactionalOne">
        INSERT INTO transactional_one (`name`) VALUE (#{trans.name});
    </insert>
</mapper>